<style>
  body {
    background-color: beige;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .container {
    max-width: 750px;
  }

  #main {
    margin-top: 1em;
    margin-bottom: 4em;
  }

  #main h1 {
    width: 100%;
    padding: 0px 4.5px 3px 3px;
    margin-bottom: 0.5em;

    font-size: 2em;
    font-weight: bold;

    border-radius: 5px;
    border: 3px solid #010a1f;
    box-shadow: 2px 2px #010a1f;
    background-color: #f23557;
    color: gold;
  }

  #main h2 {
    width: 100%;
    padding: 0px 4.5px 3px 3px;
    margin-bottom: 0.5em;

    font-size: 2em;
    font-weight: bold;

    border-radius: 5px;
    border: 3px solid #010a1f;
    box-shadow: 2px 2px #010a1f;
    background-color: #00a9ff;
    color: gold;
  }

  #main h3 {
    width: 100%;
    padding: 0px 4.5px 3px 3px;
    margin-bottom: 0.5em;

    font-size: 1.5em;
    font-weight: bold;

    border-radius: 5px;
    border: 3px solid #010a1f;
    box-shadow: 2px 2px #010a1f;
    background-color: beige;
    color: black;
  }

  #home-jumbotron {
    background-color: inherit;
  }

  #footer {
    /* separate from the bottom of the page */
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid #212529;
  }

  .font-125 {
    font-size: 125%;
    color: #f23557;
  }

  .tag-btn {
    margin-bottom: 0.3em;
    color: #00a9ff;
  }

  pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
  }

  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  img,
  iframe,
  embed,
  video,
  audio {
    max-width: 100%;
  }

  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: initial;
  }
</style>